@charset "utf-8";
/* CSS Document */

html{background-color:#FFF;color:#000;position:relative;}
body{font:10px/1.5 arial,宋体 position:relative;}
*{padding:0;margin:0}
a{text-decoration:none;color:black;}
a:hover{text-decoration:underline;color:red;}
img,fieldset{border:none;}
table{border-collapse:collapse;border-spacing:0;}
iframe{display: block;border: 0;}
ul,ol,li{list-style:none;}
dd{list-sytle-type:none;}
.hide{display: none;}
.block{display: block;}
.fl-left{float: left;}
.fl-right{float: right;}
.fl-clear{clear: both;}
input{}

		
	